
@{
  Layout = "_Layout";
  ViewBag.Title = "New User Registration";
}

@using DoctorOffice.ViewModels

@model RegisterViewModel

<div class="accountRegister">
  <h1><strong>Register a new user</strong></h1>
  <hr />
  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email, new { @type="text", @required = "required", @class="form-control"})
    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password, new {@required = "required", @class="form-control"})
    @Html.Label("Confirm Password")
    @Html.PasswordFor(user=> user.ConfirmPassword, new {@required = "required", @class="form-control"})
    <br>
    <input type="submit" value="Register" class="w3-button w3-indigo"/>
  }
</div>