@{
  Layout = "_Layout";
  ViewBag.Title = "Create Patient";
}

@model DoctorOffice.Models.Patient

<div class="patientCreate">
  <h1><strong>Add Patient</h1></strong>
  @using (Html.BeginForm())
  {
    @Html.Label("First Name")
    @Html.TextBoxFor(model => model.FirstName, new { @type="text", @placeholder="John",@required = "required", @class="form-control"})

    @Html.Label("Last Name")
    @Html.TextBoxFor(model => model.LastName, new { @type="text", @placeholder="Doe",@required = "required", @class="form-control"})

    @Html.Label("Date of Birth")
    @Html.TextBoxFor(model => model.DOB, new { @type="date", @placeholder="Doe",@required = "required", @class="form-control"})

    @Html.Label("Phone Number")
    @Html.TextBoxFor(model => model.PhoneNumber, new { @type="number", @placeholder="1234567890",@required = "required", @class="form-control"})
    
    @Html.Label("Allergies")
    @Html.TextBoxFor(model => model.Allergies, new { @type="text", @placeholder="Bees",@required = "required", @class="form-control"})
   
    @Html.Label("Medical History")
    @Html.TextBoxFor(model => model.MedicalHistory, new { @type="text", @placeholder="Asthma",@required = "required", @class="form-control"})
  
    <input type="submit" value="Add New Patient" class="btn btn-primary" />
  }

</div>