@{
  Layout ="_Layout";
  ViewBag.Title ="Update Patient";
}

@model DoctorOffice.Models.Patient;

<div class="patientEdit">
<h1><strong>Update</strong></h1>

<h4>Update Patient Information : @Html.DisplayFor(model => model.LastName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  <br>
  @Html.Label("First Name")
  @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @type="text", @class="form-control" } })

  @Html.Label("Last Name")
  @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @type="text", @class="form-control" } })

  @Html.Label("Date of Birth")
  @Html.TextBoxFor(model => model.DOB, "{0:MM-dd-yyyy}")

  <br>
  @Html.Label("Phone Number")
  @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @type="text", @class="form-control" } })

  @Html.Label("Allergies")
  @Html.EditorFor(model => model.Allergies, new { htmlAttributes = new { @type="text", @class="form-control" } })

  @Html.Label("Medical History")
  @Html.EditorFor(model => model.MedicalHistory, new { htmlAttributes = new { @type="text", @class="form-control" } })
  <br>
  <input type="submit" value="Save" class="w3-button w3-indigo" />
}


</div>