@{
  Layout = "_Layout";
  ViewBag.Title = "All Patients";
}

@using DoctorOffice.Models;
@model IEnumerable<DoctorOffice.Models.Patient>;

<div class="patientsIndex">

  
  <h1><strong>List of Patients</strong></h1>
  @if (Model.Any())
  {
    @foreach (Patient patient in Model)
   {
      <p>@Html.ActionLink($"{patient.FirstName} {patient.LastName}", "Details", new { id = patient.PatientId })</p>
    }
  }
  else
  {
    <p>There are currently no patients registered. Click below to add a new patient.</p>
  }

</div>
<div id="patientDuplicate" class="exceptionError">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4 id="errorMessage" class="exceptionError">@TempData["ErrorMessage"]</h4>
    }
</div>

<p>@Html.ActionLink("Add a new patient", "Create")</p>
<p>@Html.ActionLink("Search for Patients", "Search")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>