@{
  Layout = "_Layout";
  ViewBag.Title = "All Patients";
}

@using DoctorOffice.Models;
@model List<DoctorOffice.Models.Patient>;

<div class="patientsIndex">

  
  <h1><strong>List of Patients</strong></h1>
  @if (Model.Count == 0)
  {
    <p>There are currently no patients registered. Click below to add a new patient.</p>
  }

  @foreach (Patient patient in Model)
  {
    <p>@Html.ActionLink($"{patient.FirstName} {patient.LastName}", "Details", new { id = patient.PatientId })</p>
  }
</div>
<div id="patientDuplicate">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4 id="errorMessage">@TempData["ErrorMessage"]</h4>
    }
</div>

<p>@Html.ActionLink("Add a new patient", "Create")</p>
<p>@Html.ActionLink("Search for Patients", "Search")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>