@{
  Layout = "_Layout";
  ViewBag.Title = "Doctor Details";
}

@model DoctorOffice.Models.Doctor

<div class="doctorDetails">
  <h1><strong>Doctor Details</h1></strong>
  <h3>About Dr. @Html.DisplayFor(model => model.LastName):</h3>

  <p>Name : @Model.FirstName @Model.LastName</p>
  <p>Specialty : @Model.Specialty</p>
  @if (Model.PagerNumber == 0)
  {
    <p>Pager Number : N/A. Please add this information ASAP.</p>
  }
  else
  {
    <p>Pager Number : @Model.PagerNumber</p>
  }
  <p>Accepting new patients : 
    @if (@Model.AcceptNewPatients == true)
    {
      <span class="checkmark">✔</span>
    }
    else 
    {
      <span class="wrongmark">✘</span>
    }
  </p>
  <p>Hire Date : @Model.HireDate.Month/@Model.HireDate.Day/@Model.HireDate.Year</p>
  
  <hr>
  <p>@Model.Patients.Count patient(s) registered for this provider.</p>
 
  @if (@Model.Patients.Count > 0)
  {
    <p>Patients seeing Dr. @Html.DisplayFor(model => model.LastName) :</p>
    @foreach(var join in Model.Patients)
    {
      <p>@join.Patient.LastName, @join.Patient.FirstName | Date of Birth: @join.Patient.DOB.Month/@join.Patient.DOB.Day/@join.Patient.DOB.Year</p>
    }
  }
  <hr>
  <div id="doctorDetailsLinks">
    <p><img src="~/img/eraser.png" style="width: 30px;">@Html.ActionLink("Edit This Doctor's Information", "Edit", new { id = Model.DoctorId})</p>
    <p><img src="~/img/delete.png" style="width: 30px;">@Html.ActionLink("Delete This Doctor", "Delete", new { id = Model.DoctorId})</p>
  </div>
</div>