@{
  Layout = "_Layout";
  ViewBag.Title = "All Doctors";
}

@using DoctorOffice.Models;
@model IEnumerable<DoctorOffice.Models.Doctor>;

<div class="doctorsIndex">
  <h1><strong>List of Doctors for @User.Identity.Name</strong></h1>
  @if (Model.Any())
  {
    @foreach (Doctor doctor in Model)
    {
      <p>@Html.ActionLink($"{doctor.FirstName} {doctor.LastName}", "Details", new { id = doctor.DoctorId })</p>
    }
  }
  else
  {
    <p>There are currently no doctors in data. Click below to add new doctor.</p>
  }
</div>
<div class="exceptionError">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4 class="exceptionError">@TempData["ErrorMessage"]</h4>
    }
</div>

<p>@Html.ActionLink("Add a new doctor", "Create")</p>
<p>@Html.ActionLink("Search for Doctors", "Search")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>